---
import MainLayout from "../../layouts/MainLayout.astro";
import Button from "../../components/Button.astro";
import Website from "../../components/Website.astro";

const allPosts = await Astro.glob("./*.md");
---

<MainLayout title="Niel Montesa - Web Design">
  <h1 class="text-6xl font-bold">Web Design</h1>
  <p class="text-base leading-7 mt-4 text-[var(--ternary-gray)]">
    Websites designed and coded to your business or personal needs. <br
    />Maximizing your profits and conversions through good design. <br />
  </p>

  <div class="flex flex-col lg:flex-row gap-2">
    <div class="buttons mt-6 flex gap-2">
      <Button
        icon="mdi:email-outline"
        buttonText="Get A Quote"
        link="/contact"
      />
    </div>
    <div class="buttons lg:mt-6 flex gap-2">
      <Button icon="mdi:account-outline" buttonText="My Design Process" />
    </div>
  </div>
  <div class="mt-8 columns-1 lg:columns-2 gap-2 max-w-[100%]">
    {allPosts.map((post) => <Website {post} />)}
  </div>
</MainLayout>
