---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import myImage from "../../public/about.jpg";
---

<MainLayout title="Niel Montesa - About Me">
  <div class="xl:pr-[512px] leading-7">
    <h1 class="text-6xl font-bold">About Me</h1>
    <p class="mt-4 text-[#dfdede]">
      I spend most of my days doing three things: designing, developing, and
      writing about the first two. It's hard for me to give myself a formal
      title but for the sake of brevity, I am a <span class="font-medium"
        >designer</span
      >.<br />
      <br />
      My skills fall under the scope of UI design, graphic design, and front-end
      development. With a dash of writing and brand design added on top.
    </p>

    <p class="mt-8 text-[#dfdede]">
      As I write this, I am currently working as a freelance Writer and Graphic
      Designer for ShineBright.<br />
      <br />On the side, I am a musician. I play guitar, bass, ukelele, and I
      sing! I write and produce moody rock songs that help me cope with my
      workaholic tendencies. Or at least I try to.
    </p>
    <!-- <p class="text-[#dfdede] mt-8">
      Want to see what I’m currently up to? You can check out my <a
        class="text-[var(--primary-green)] hover:text-[var(--secondary-green)] underline"
        href="#">Now</a
      > page for irregular updates on whatever I’m obsessed with at the moment.
    </p> -->

    <Image
      src={myImage}
      alt="An image of Niel."
      class="rounded-md mt-4 opacity-40 hover:opacity-100 transition-all"
    />
  </div>
</MainLayout>
