---
const { text, link, icon, target } = Astro.props;
import { Icon } from "astro-icon/components";
---

<style>
  .active {
    background-color: var(--button-gray);
    color: #242424;
    border: 1px solid #d5d5d5;
  }

  a:active {
    color: #818181;
  }
</style>

<li class="">
  <a
    class="flex items-center gap-2 w-full text-[var(--primary-gray)] font-normal hover:text-[var(--primary-white)] p-2 rounded-lg
    active:[var(--primary-white)] border border-[var(--bg-secondary)] transition-all"
    href={link}
    target={target}>
    <Icon name={icon} class="inline bg-inherit" />
    {text}
  </a>
</li>
